body, html{
    height: 100%;
    position: relative;
}

footer span{
    display: block;
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    color: #000;
    
    font-family: monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: unset;
}

.borda{
    border: 1px solid red;
}

#hFiltros{
    font-size: 1.5em;
}